<!DOCTYPE html>
<html ng-app="inicio">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Biblioteca | Virtual</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="dist/css/style.css">
  <link rel="stylesheet" href="dist/css/skins/style.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
  <script src="autorController.js"></script>
  <script src="dirPagination.js"></script>
  
</head>
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/avatar5.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>George Compton</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
	  <ul class="sidebar-menu">
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Biblioteca Virtual</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Autores</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Livros</span></a></li>
	   </u>
</aside>

<body class="hold-transition skin-blue sidebar-mini" ng-controller="autorController">
<div class="wrapper">

  <header class="main-header">
    <a href="#" class="logo">
      <span class="logo-mini"><b>B</b>V</span>
      <span class="logo-lg"><b>Biblioteca</b> Virtual</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="dist/img/avatar5.png" class="user-image" alt="User Image">
              <span class="hidden-xs">George Compton</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="dist/img/avatar5.png" class="img-circle" alt="User Image">

                <p>
                  George Compton - Web Developer
                  <small>2017</small>
                </p>
              </li>
              
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sair</a>
                </div>
              </li>
            </ul>
          </li>
          
        </ul>
      </div>
    </nav>
  </header>
  
  
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Autor
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Autor</a></li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Gerenciar Autor</h3>
			  <a class="btn btn-primary pull-right" href="pages/novoAutor.html">Novo</a>	
            </div>
            <div class="box-body">
			
			  <p>Buscar: <input type="text" ng-model="procurar" placeholder="pesquisa avançada"></p>
			  
			  <table  class="table table-bordered table-striped">
                <thead>
                <tr>
				  <th ng-click="ordenar('id')">ID<i class="glyphicon glyphicon-sort pull-right"></i></th>
                  <th ng-click="ordenar('firstName')">Nome  <i class="glyphicon glyphicon-sort pull-right"></i></th>
                  <th ng-click="ordenar('lastName')">Ultimo Nome  <i class="glyphicon glyphicon-sort pull-right"></i></th>
				  <th>Ação</th>
				</tr>
                </thead>
                <tbody>
                <tr dir-paginate="author in authors | filter:procurar | orderBy:sortKey:reverse | itemsPerPage:5">
                  <td>{{author.id}}</td>
                  <td>{{author.firstName}}</td>
                  <td>{{author.lastName}}</td>
				  <td>
						<button class="btn btn-sm" popover-placement="top" title="Editar" type="button" ng-click="prepareUpdate(author.id)">
							<i class="glyphicon glyphicon-pencil"></i>
						</button>
						
						<button class="btn btn-sm btn-info" popover-placement="top" title="Livros" type="button" ng-click="listarLivros(author.id)">
							<i class="glyphicon glyphicon-book"></i>
						</button>
						
						<button type="button" title="Inserir Livro"  class="btn btn-sm btn-success" ng-click="createLivro(author.id)">
							<i class="glyphicon glyphicon-book"></i>
						</button>
						
						<button type="button" title="Remover"  class="btn btn-sm btn-danger" ng-click="remove(author.id)">
							<i class="glyphicon glyphicon-remove-circle"></i>
						</button>
				   </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th ng-click="ordenar('id')">ID<i class="glyphicon glyphicon-sort pull-right"></i></th>
                  <th ng-click="ordenar('firstName')">Nome  <i class="glyphicon glyphicon-sort pull-right"></i></th>
                  <th ng-click="ordenar('lastName')">Ultimo Nome  <i class="glyphicon glyphicon-sort pull-right"></i></th>
				  <th>Ação</th>
                </tr>
                </tfoot>
			  </table>
			  <dir-pagination-controls
					max-size="5"
					direction-links="true"
					boundary-links="true" >
			   </dir-pagination-controls>
			 
			</div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer class="main-footer">
    <strong>Copyright &copy; 2017 <a>George Compton</a>.</strong> All rights reserved.
  </footer>

  <div class="control-sidebar-bg"></div>
</div>

<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="dist/js/app.min.js"></script>

</body>
</html>
